.padding-base {
  padding: 0.8rem;
}

.padding-base-vertical {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.padding-base-top {
  padding-top: 0.8rem;
}

.padding-base-bottom {
  padding-bottom: 0.8rem;
}

.padding-large-horizontal {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.padding-large-top {
  padding-top: 1.6rem;
}
