@font-face {
  font-family: AppFont;
  font-style: normal;
  src: url("./fonts/LatoRegular.ttf");
}

html {
  font-family: AppFont;
}

.primary-text {
  color: #1ABC9C;
}

a {
  color: #1ABC9C;
  cursor: pointer;
}

.white-text {
  color: #FFFFFF;
}

.main-text {
  opacity: 0.87;
}

.secondary-text {
  opacity: 0.54;
}

.disabled-text, .hint-text {
  opacity: 0.38;
}

.white-text.main-text {
  opacity: 1;
}

.white-text.secondary-text {
  opacity: 0.84;
}

.white-text.disabled-text, .white-text.hint-text {
  opacity: 0.58;
}

p {
  margin: 0;
  padding-bottom: 0.8rem;
}
